
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+91 7092081380</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background: url('../assets/img/breadcrumb.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Delivery Info</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Delivery Info</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Delivery Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of deliveryInfo">
                                <td class="shoping__cart__item">
                                    <img src="../assets/img/cart/cart-1.jpg" alt="">
                                    <h5>{{ item.order_id.product_item_id.item_name }}
                                        <p>Grade: {{ item.order_id.product_item_id.item_grade }}</p>
                                    </h5>
                                    <p>Address: {{ item.billing_id.first_name }} {{ item.billing_id.last_name }}, {{ item.billing_id.address }}, 
                                        {{ item.billing_id.city }}, {{ item.billing_id.state }} - {{ item.billing_id.pincode }}.
                                    </p>
                                    <p>Phone: {{ item.billing_id.mobile_no }}, Email: {{ item.billing_id.user_mail }}</p>
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        Rs.: 500
                                    </div>
                                </td>
                                <td class="shoping__cart__price">
                                    <p>
                                        <input type="radio" [checked] = item.order_tracking_id.order_placed>---<input type="radio" [checked] = item.order_tracking_id.order_shipped>---<input type="radio" [checked] = item.order_tracking_id.order_delivered>
                                        Status: Order Placed
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->

