
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Payment</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+91 7092081380</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>Scan To Pay</h3>
                    <div class="product__details__price">Total Amount: Rs.1000</div>
                    <p>Scan QR code to Pay.</p>
                    <form type="POST" #payment="ngForm" (ngSubmit)="onSubmit(payment.value)">
                        <div class="form-check form-switch">
                        <input class="form-check-input" ngModel type="radio" id="upi" name="pay" value="UPI">
                        <label for="css">Gpay / PhonePay / UPI / BHIM / Paytm</label><br>
                        <input class="form-check-input" ngModel type="radio" id="cod" name="pay" value="COD">
                        <label for="css">Cash on Delivery</label>
                        <p>(Our support team will reach you as soon as possible)</p>
                        </div>
                        <button type="submit" class="primary-btn">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                            src="../assets/img/payment/getspices.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
